article {
  width: 500px;
  height: 100%;
}

summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  height: 65px;
}

summary::-webkit-article-marker {
  display: none; /* Hides the default expand/collapse marker */
}

article summary i:before {
  display: block;
  width: 16px;
}

article summary i {
  margin: 0;
  color: var(--primary-text-color);
  transition: all 0.3s ease-out;
}

article summary i.rotate {
  transform: rotate(90deg); /* Rotates the icon when the article are open */
}

summary:hover {
  color: var(--cta-color);
}

summary:hover i::before {
  color: var(--cta-color);
}

article {
  overflow: hidden;
  transition: all 0.3s ease-out;
}

article ul {
  border: none;
  text-decoration: none;
  height: 100%;
  outline: none;
  padding: 0 10px 0 0;
  overflow: auto;
  scrollbar-width: none;
}

article ul::-webkit-scrollbar {
  display: none; /* For Chrome/Safari */
}

article ul {
  padding-bottom: 50px;
}

article li {
  margin: 10px 0 0;
  display: flex;
  align-items: center;
}
article li p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: all 0.3s;
}

article li p:hover {
  color: var(--cta-color);
}

@media (max-width: 833px) {
  article {
    width: 700px;
  }
}

@media (max-width: 433px) {
  article {
    width: 340px;
  }
}
