article {
  width: 800px;
}

summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

summary::-webkit-article-marker {
  display: none; /* Hides the default expand/collapse marker */
}

article summary i:before {
  display: block;
  width: 16px;
}

article summary i {
  margin: 0;
  color: var(--primary-text-color);
  transition: all 10s ease-out;
}

article summary i.rotate {
  transform: rotate(90deg); /* Rotates the icon when the article are open */
}

summary:hover {
  color: var(--cta-color);
}

summary:hover i::before {
  color: var(--cta-color);
}

article {
  overflow: hidden;
  transition: all 10s;
}

article li {
  padding: 25px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article li:last-of-type {
  padding: 25px 0 25px;
}

article li div {
  display: flex;
  flex-direction: column;
  max-width: 85%;
}

h3 {
  margin: 0 0 6px;
  font-size: 14px;
  font-weight: 600;
  color: var(--cta-color);
}

h4 {
  font-size: 14px;
  font-weight: 400;
}
