details {
  width: 800px;
  transition: all 0.3s ease;
  transition: height 0.4s ease, opacity 0.4s ease;
}

details[open] {
  height: auto;
  opacity: 1;
}

summary {
  list-style: none; /* Removes the default arrow */
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none; /* Hide the default triangle marker in WebKit browsers */
}

summary i {
  margin-left: auto;
  transition: transform 0.3s ease;
}

summary i::before {
  color: var(--primary-text-color);
  transition: color 0.4s;
}

details[open] summary i {
  transform: rotate(90deg);
}

summary:hover {
  color: var(--cta-color);
}

summary:hover i::before {
  color: var(--cta-color);
}

ul {
  clip-path: inset(100% 0 0 0);
}

ul.hide {
  animation: hide 5s ease-out forwards;
}

ul.reveal {
  animation: reveal 5s ease-out forwards;
}

@keyframes reveal {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes hide {
  0% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 100% 0);
  }
}

details li {
  margin: 25px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details li div {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

h3 {
  margin: 0 0 6px;
  font-size: 14px;
  font-weight: 600;
  color: var(--cta-color);
}

h4 {
  font-size: 14px;
  font-weight: 400;
}
