:root {
  --background-color: #2d2d2d;
  --primary-text-color: #eee;
  --link-hover-color: #8a8a8a;
  --cta-color: #fff;
  --cta-color: #0077b5;
  --border-color: #4a4a4a;
  --dark-shade-color: #1a1412;
}
