:root {
  --background-color: #1e1e1e;
  --primary-text-color: #bbb;
  --link-color: #707070;
  --link-hover-color: #8a8a8a;
  --cta-color: #fff;
  --border-color: #4a4a4a;
  --dark-shade-color: #141414;
}
