header {
  display: flex;
  align-items: center;
  margin: 0 0 25px;
}

header nav {
  margin: 0 0 0 15px;
}
header nav section:nth-of-type(2),
header nav section:nth-of-type(3) {
  display: none;
}
header.show-contacts nav section:nth-of-type(2),
header.show-contacts nav section:nth-of-type(3) {
  display: flex;
}

header section {
  display: flex;
  align-items: center;
  margin: 2px 0 0 0;
  cursor: pointer;
}

header section i {
  margin: 0 6px 0 0;
  font-size: 12px;
  transition: all 0.2s;
}

header section i::before {
  color: #0077b5;
  transition: color 0.3s ease;
}

header section i {
  transition: transform 0.15s ease;
}

header section i:hover {
  animation: trembleEffect 0.3s ease 2;
}

@keyframes trembleEffect {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h1 {
  font-size: 22px;
  margin: 0 0 2px 0;
}

h1,
h2 {
  font-weight: 500;
}

h2 {
  margin: 0;
  font-size: 18px;
  font-style: italic;
}

@media (max-width: 525px) {
  h1 {
    font-size: 18px;
    padding: 0 0 3px;
  }
  h2 {
    font-size: 9px;
  }
  nav section {
    padding: 3px 0 0;
  }
}
