header {
  display: flex;
  align-items: center;
  height: 110px;
  margin: 0 0 20px;
}

header ul {
  margin: 0 0 0 15px;
}

header ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 7px 0;
}

header ul li:first-of-type,
header ul li:last-of-type {
  padding: 0;
}

header ul li i {
  font-size: 18px;
  transition: all 0.2s;
}

header li i::before {
  font-size: 22px;
  color: var(--cta-color);
  transition: color 0.3s ease;
  margin-right: 4px;
}

header li i {
  transition: transform 0.15s ease;
}

header ul li:not(:nth-of-type(2)) i:hover {
  animation: trembleEffect 0.3s ease 2;
}

@keyframes trembleEffect {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h1 {
  font-size: 20px;
  padding: 0 0 7px;
}

h1,
h2 {
  font-weight: 500;
}

h2 {
  margin: 0;
  font-size: 15px;
  font-style: italic;
}

@media (max-width: 525px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 12px;
  }
}
