body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    var(--background-color),
    var(--dark-shade-color)
  );
  font-family: 'Montserrat', sans-serif;
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
}

i {
  cursor: pointer;
}

@media (max-width: 425px) {
  body {
    padding: 12px 17px;
  }

  body summary {
    font-size: 17px;
    line-height: 14px;
  }
}
