dialog {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 2;
  background-color: #000;
  transition: opacity 0.25s ease-out;
}

dialog.show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  width: 100vw;
  height: 100vh;
}

dialog .video-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

dialog iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

dialog .x-box {
  background-color: #000;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 40px;
  position: absolute;
  top: 1%;
  left: 0.3%;
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
  cursor: pointer;
}
dialog .x-box .fa-x::before {
  color: var(--link-hover-color);
  transition: 0.3s;
}

dialog .x-box:hover .fa-x::before {
  color: #fff;
}
