{
  "arrowParens": "avoid",
  "printWidth": 80,
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "proseWrap": "always"
}
