@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --background-color: #121212;
  --primary-text-color: #e0e0e0;
  --secondary-text-color: #b0b0b0;
  --link-color: #1e90ff;
  --link-hover-color: #4b8ff7;
  --cta-color: #ff6347;
  --border-color: #333333;
  --dark-shade-color: #1a1a1a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: 0;
  font-optical-sizing: auto;
}

body {
  background: linear-gradient(
    to bottom right,
    var(--background-color),
    var(--dark-shade-color)
  );
  font-family: sans-serif;
  background-color: #fff;
}
